.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 20vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 5px;
    color:#585858;
}
.main .nav img{
    height: 50px;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 10px 0px;
    font-size: 48px;
    color:#c4c7c5;
    font-weight: 500;
    padding: 10px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg, #6ddd18,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap:15px;
    padding:10px;
}
.main .card{
height: 200px;
padding: 15px;
background-color: #f0f4f9;
position: relative;
cursor: pointer;
border-radius: 10px;
}
.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color:#585858;
    font-size: 17px;
}
.main .card:hover{
    background-color: #dfe4ea;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    background-color: #f0f4f9;
    padding: 10px 50px;
    border-radius: 50px;
    margin-left: 170px;
}
.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex:1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    margin-left:20px ;
    font-size: 18px;
    
}
.search-box div{
    display: flex;
    align-items: center;
    gap:15px;
}


.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}